VITE_BFF_BASE_URL=/bff
MAG_API_HOST=https://apis-hmg.magcap.com.br
MAG_API_TOKEN_URL=https://apis-hmg.magcap.com.br/connect/token
MAG_API_CLIENT_ID=
MAG_API_CLIENT_SECRET=
MAG_API_ACCESS_TOKEN=
BFF_HOST=127.0.0.1
BFF_PORT=3001
BFF_CORS_ORIGIN=http://localhost:5173
BFF_DATABASE_PATH=./data/partner-portal.sqlite
