VITE_BFF_BASE_URL=/bff
MAG_API_HOST=https://apis.magcap.com.br
MAG_API_TOKEN_URL=https://apis.magcap.com.br/connect/token
MAG_API_CLIENT_ID=usr_cap_api_prd
MAG_API_CLIENT_SECRET=
MAG_API_ACCESS_TOKEN=
BFF_HOST=127.0.0.1
BFF_PORT=3001
BFF_CORS_ORIGIN=https://portal.magcap.com.br
BFF_DATABASE_PATH=./data/partner-portal.sqlite
